Repository Sunday-Studio-Team/DeathParty, changes with the labels that .github/labeler.yml gives for each.
All labels: GDScript, Scene, Resource, Asset, Project Config, Git

set more npc idle animations
  Godot/rooms/Bathroom/Bathroom.tscn
  Godot/rooms/Ghost hallway/Ghost hallway.tscn
  Godot/rooms/Library/library.tscn
  Godot/rooms/entrance.tscn
Labels: Scene

hide bag in environment in olivia's room
  Godot/rooms/bedroom/Bedroom.tscn
Labels: Scene

dont show jog controls pop up if re entering exterior
  Godot/globals.gd
  Godot/rooms/Exterior Frat Lawn/jog_controls_popup.gd
  Godot/rooms/Exterior Frat Lawn/jog_controls_popup.gd.uid
Labels: GDScript

moved frat bros in kitchen and deleted rowan in kitchen and added them into the entrance
  Godot/Assets/CharacterAssets/bartender/Kitchen.tscn
  Godot/Assets/InkFiles/library_Olivia_fratbro_onentry_OO.json
  Godot/Assets/InkFiles/library_Sam_tattoo_dialogue.json
  Godot/rooms/bedroom/Bedroom.tscn
  Godot/rooms/entrance.tscn
Labels: Scene, Asset

fix missing collision for frat boy in kitchen
  Godot/Assets/CharacterAssets/bartender/Kitchen.tscn
Labels: Scene

fix corkboard popup behaviour
  Godot/Utilities/scripts/interactable.gd
  Godot/Utilities/tutorial/tutorial_ui.gd
  Godot/rooms/bedroom/Bedroom.tscn
  Godot/rooms/bedroom/cork_board.gd
Labels: GDScript, Scene

adjust corkboard interaction area and popup pos
  Godot/rooms/bedroom/Bedroom.tscn
Labels: Scene

adjust wording in journal/phone controls popups
  Godot/Utilities/tutorial/tutorial_ui.tscn
Labels: Scene

interactable popups in remaining rooms
  Godot/Assets/environment/bathroom_graffitti.tscn
  Godot/Assets/environment/bookshelves/bookshelf/bookshelf.tscn
  Godot/Assets/environment/heavy_door.tscn
  Godot/Assets/environment/snack_table.tscn
  Godot/Assets/props/beerpong_trophy.tscn
  Godot/main.tscn
Labels: Scene

add basic follower example
  Godot/Entities/EntityScripts/npc.gd
  Godot/Entities/player.tscn
  Godot/project.godot
  Godot/rooms/Exterior Frat Lawn/character_body_3d.gd
  Godot/rooms/Exterior Frat Lawn/character_body_3d.gd.uid
Labels: GDScript, Scene, Project Config

adjust player boundaries in library
  Godot/rooms/Library/library.tscn
Labels: Scene

caleb interactable
  Godot/Assets/InkFiles/library_Olivia_fratbro_onentry_OO.json
  Godot/Assets/InkFiles/library_Sam_tattoo_dialogue.json
  Godot/Singletons/SaveSystem/DefaultResources/CharacterResources/character_properties_caleb.tres
  Godot/Singletons/SaveSystem/DefaultResources/CharacterResources/character_properties_rowan.tres
  Godot/Singletons/SaveSystem/DefaultResources/CharacterResources/character_properties_sam.tres
  Godot/Singletons/SaveSystem/ResourceScripts/phone_chat_properties.gd
Labels: GDScript, Resource, Asset

nora interactable
  Godot/Assets/CharacterAssets/nora/nora.tscn
  Godot/Assets/InkFiles/library_Sam_tattoo_dialogue.json
  Godot/Singletons/SaveSystem/DefaultResources/CharacterResources/character_properties_nora.tres
Labels: Scene, Resource, Asset

.github/labeler.yml:

GDScript:
- changed-files:
  - any-glob-to-any-file: '**/*.gd'

Scene:
- changed-files:
  - any-glob-to-any-file: '**/*.tscn'

Resource:
- changed-files:
  - any-glob-to-any-file: '**/*.tres'

Asset:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.import'
    - '**/*.json'
    - '**/*.ink'
    - '**/*.png'
    - '**/*.ttf'
    - '**/*.ogg'

Project Config:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.godot'
    - '**/*.cfg'

Git:
- changed-files:
  - any-glob-to-any-file:
    - '.git/**'
    - '.github/**'
    - '**/.gitignore'
    - '**/.gitattributes'
