Repository Sunday-Studio-Team/DeathParty, changes with the labels that .github/labeler.yml gives for each.
All labels: GDScript, Scene, Resource, Asset, Project Config, Git

.github/labeler.yml:

GDScript:
- changed-files:
  - any-glob-to-any-file: '**/*.gd'

Scene:
- changed-files:
  - any-glob-to-any-file: '**/*.tscn'

Resource:
- changed-files:
  - any-glob-to-any-file: '**/*.tres'

Asset:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.import'
    - '**/*.json'
    - '**/*.ink'
    - '**/*.png'
    - '**/*.ttf'
    - '**/*.ogg'

Project Config:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.godot'
    - '**/*.cfg'

Git:
- changed-files:
  - any-glob-to-any-file:
    - '.git/**'
    - '.github/**'
    - '**/.gitignore'
    - '**/.gitattributes'

change main scene to main.tscn
  Godot/project.godot
Labels: Project Config

Make npc only on layer 3, and change interact to only scan layer 3
  Godot/Singletons/Interact/interact.gd
  Godot/main.tscn
  Godot/project.godot
Labels: GDScript, Scene, Project Config

change entrance handling for first room
  Godot/Assets/environment/dj_set/DJ set_Concrete007_1K-JPG_Color_6.jpg.import
  Godot/Assets/environment/dj_set/DJ set_IMG_4150.jpg.import
  Godot/Assets/textures/entrance_room_props/entrance room props_lambert2SG_baseColor.jpg.import
  Godot/Assets/textures/entrance_room_props/entrance room props_lambert3SG_baseColor.jpg.import
  Godot/Assets/textures/entrance_room_props/entrance room props_lambert4SG_baseColor.jpg.import
  Godot/Assets/textures/entrance_room_props/entrance room props_lambert5SG_baseColor.jpg.import
  Godot/Assets/textures/entrance_room_props/entrance room props_lambert6SG_baseColor.jpg.import
  Godot/Utilities/scripts/define_camera_bounds.gd
  Godot/World/WorldScripts/room.gd
Labels: GDScript, Asset

change object viewer from control to canvas layer
  Godot/Common/Object Viewer/object_viewer.gd
  Godot/Common/Object Viewer/object_viewer.tscn
  Godot/main.tscn
Labels: GDScript, Scene

auto change
  Godot/main.tscn
Labels: Scene

remove InteractionDetector from content loader special classes
  Godot/Singletons/ContentLoader/game_object.gd
Labels: GDScript

make Interactable extend Area3D
  Godot/Singletons/ContentLoader/scene_loader.tscn
  Godot/Utilities/scripts/interactable.gd
Labels: GDScript, Scene

change nodes with Interactable script to new type
  Godot/Assets/environment/bathroom_graffitti.tscn
  Godot/Assets/environment/bathroom_stalls.tscn
  Godot/Assets/environment/bedroom_door.tscn
  Godot/Assets/environment/bookshelves/dorm_bookshelf.tscn
  Godot/Assets/environment/caution_tape.tscn
  Godot/Assets/environment/cupboards_kitchen_appliances.tscn
  Godot/Assets/environment/cups_on_floor.tscn
  Godot/Assets/environment/fancy_mirror.tscn
  Godot/Assets/environment/fridge/fridge.tscn
  Godot/Assets/environment/heavy_door.tscn
  Godot/Assets/environment/kegs.tscn
  Godot/Assets/environment/pots.tscn
  Godot/Assets/environment/pots_pans.tscn
  Godot/Assets/environment/snack_table.tscn
  Godot/Assets/props/beer_pong_sign.tscn
  Godot/Assets/props/beer_spider.tscn
  Godot/Assets/props/polaroid_camera_collectable.tscn
  Godot/Assets/props/wallet_and_id.tscn
  Godot/Assets/props/wooden_table/wood_table.tscn
  Godot/Common/InventoryUI/Example Items/Cube.tscn
  Godot/rooms/Exterior Frat Lawn/id_card.tscn
Labels: Scene

make base scenes for interactable and npc
  Godot/Entities/Interactable/interactable.tscn
  Godot/Entities/NPCs/npc.tscn
Labels: Scene

make alberto ma scene inherit from npc scene
  Godot/Assets/CharacterAssets/alberto_ma/alberto_ma.tscn
  Godot/Entities/NPCs/npc.tscn
Labels: Scene

make angel inherit npc
  Godot/Assets/CharacterAssets/angel/angel.tscn
Labels: Scene

inherit bartender from npc
  Godot/Assets/CharacterAssets/alberto_ma/alberto_ma.tscn
  Godot/Assets/CharacterAssets/angel/angel.tscn
  Godot/Assets/CharacterAssets/bartender/bartender.tscn
Labels: Scene

inherit benny from npc
  Godot/Assets/CharacterAssets/benny/benny.tscn
Labels: Scene

inherit bunnies from npc
  Godot/Assets/CharacterAssets/bunnies/white_bunny/white_bunny.tscn
Labels: Scene

inherit caleb from base npc
  Godot/Assets/CharacterAssets/Caleb/caleb.tscn
Labels: Scene

inherit ChiOmegaGirl from base npc
  Godot/Assets/CharacterAssets/Caleb/caleb.tscn
  Godot/Assets/CharacterAssets/chi_omega_girl/chi_omega_girl.tscn
Labels: Scene

inherit christmas tree from base npc
  Godot/Assets/CharacterAssets/christmas_tree/christmas_tree.tscn
Labels: Scene

inherit cone ghost from base npc scene
  Godot/Assets/CharacterAssets/cone_ghost/cone_ghost.tscn
Labels: Scene

inherit some more npcs from base scene
  Godot/Assets/CharacterAssets/dj/dj.tscn
  Godot/Assets/CharacterAssets/drug_dealer/drug_dealer.tscn
Labels: Scene

inherit frat boy npcs from base npc
  Godot/Assets/CharacterAssets/frat_boys/Long_Hair_frat_boy/frat_boy_long_hair.tscn
  Godot/Assets/CharacterAssets/frat_boys/blond_frat_boy/blond_frat_boy.tscn
  Godot/Assets/CharacterAssets/frat_boys/green_frat_boy/green_frat_boy.tscn
  Godot/Assets/CharacterAssets/frat_boys/jack/jack.tscn
  Godot/Assets/CharacterAssets/frat_boys/pink_hair_frat_boy/pink_hair_frat_boy.tscn
  Godot/Assets/CharacterAssets/frat_boys/red_hair_frat_boy/red_hair_frat_boy.tscn
  Godot/Assets/CharacterAssets/frat_boys/red_hat_frat_boy/frat_boy_red_hat.tscn
Labels: Scene

inherit remaining npcs from base scene
  Godot/Assets/CharacterAssets/Jesus/jesus.tscn
  Godot/Assets/CharacterAssets/free_hug_guy/free_hug_guy.tscn
  Godot/Assets/CharacterAssets/gamers/shark_gamer/shark_gamer.tscn
  Godot/Assets/CharacterAssets/nora/nora.tscn
  Godot/Assets/CharacterAssets/rowan/rowan.tscn
  Godot/Assets/CharacterAssets/witch/witch.tscn
Labels: Scene

organise basement scene tree
  Godot/rooms/Basement/Basement.tscn
Labels: Scene

inherit bartender from npc
  Godot/Assets/CharacterAssets/alberto_ma/alberto_ma.tscn
  Godot/Assets/CharacterAssets/angel/angel.tscn
  Godot/Assets/CharacterAssets/bartender/bartender.tscn
Labels: Scene

make angel inherit npc
  Godot/Assets/CharacterAssets/angel/angel.tscn
Labels: Scene

make base scenes for interactable and npc
  Godot/Entities/Interactable/interactable.tscn
  Godot/Entities/NPCs/npc.tscn
Labels: Scene

make alberto ma scene inherit from npc scene
  Godot/Assets/CharacterAssets/alberto_ma/alberto_ma.tscn
  Godot/Entities/NPCs/npc.tscn
Labels: Scene

inherit benny from npc
  Godot/Assets/CharacterAssets/benny/benny.tscn
Labels: Scene

inherit caleb from base npc
  Godot/Assets/CharacterAssets/Caleb/caleb.tscn
Labels: Scene

inherit frat boy npcs from base npc
  Godot/Assets/CharacterAssets/frat_boys/Long_Hair_frat_boy/frat_boy_long_hair.tscn
  Godot/Assets/CharacterAssets/frat_boys/blond_frat_boy/blond_frat_boy.tscn
  Godot/Assets/CharacterAssets/frat_boys/green_frat_boy/green_frat_boy.tscn
  Godot/Assets/CharacterAssets/frat_boys/jack/jack.tscn
  Godot/Assets/CharacterAssets/frat_boys/pink_hair_frat_boy/pink_hair_frat_boy.tscn
  Godot/Assets/CharacterAssets/frat_boys/red_hair_frat_boy/red_hair_frat_boy.tscn
  Godot/Assets/CharacterAssets/frat_boys/red_hat_frat_boy/frat_boy_red_hat.tscn
Labels: Scene

inherit remaining npcs from base scene
  Godot/Assets/CharacterAssets/Jesus/jesus.tscn
  Godot/Assets/CharacterAssets/free_hug_guy/free_hug_guy.tscn
  Godot/Assets/CharacterAssets/gamers/shark_gamer/shark_gamer.tscn
  Godot/Assets/CharacterAssets/nora/nora.tscn
  Godot/Assets/CharacterAssets/rowan/rowan.tscn
  Godot/Assets/CharacterAssets/witch/witch.tscn
Labels: Scene

inherit some more npcs from base scene
  Godot/Assets/CharacterAssets/dj/dj.tscn
  Godot/Assets/CharacterAssets/drug_dealer/drug_dealer.tscn
Labels: Scene

inherit ChiOmegaGirl from base npc
  Godot/Assets/CharacterAssets/Caleb/caleb.tscn
  Godot/Assets/CharacterAssets/chi_omega_girl/chi_omega_girl.tscn
Labels: Scene

inherit cone ghost from base npc scene
  Godot/Assets/CharacterAssets/cone_ghost/cone_ghost.tscn
Labels: Scene

inherit christmas tree from base npc
  Godot/Assets/CharacterAssets/christmas_tree/christmas_tree.tscn
Labels: Scene

inherit bunnies from npc
  Godot/Assets/CharacterAssets/bunnies/white_bunny/white_bunny.tscn
Labels: Scene

adjust base interactable and npc scenes
  Godot/Assets/CharacterAssets/rowan/rowan.tscn
  Godot/Entities/Interactable/interactable.tscn
  Godot/Entities/NPCs/npc.tscn
Labels: Scene

misc auto change
  Godot/Assets/CharacterAssets/bartender/bartender.tscn
Labels: Scene

set npc idle animations in party room
  Godot/Assets/CharacterAssets/animations/christmas_tree/spin.res
  Godot/Assets/CharacterAssets/animations/green_frat_boy/gangnam.res
  Godot/Assets/CharacterAssets/bartender/bartender.tscn
  Godot/Assets/CharacterAssets/chi_omega_girl/chi_omega_girl.tscn
  Godot/Assets/CharacterAssets/christmas_tree/christmas_tree.tscn
  Godot/Assets/CharacterAssets/frat_boys/green_frat_boy/green_frat_boy.tscn
Labels: Scene

set npc idle animations in kitchen
  Godot/Assets/CharacterAssets/bartender/Kitchen.tscn
Labels: Scene

set npc idle animations in basement
  Godot/rooms/Basement/Basement.tscn
Labels: Scene
